html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

.App {
  text-align: center;
  background: #FFF5EE;
  height: 100%;
  overflow: auto;
}

.App-header {
  padding: 20px;
  border-bottom: 2px solid #C41E3A;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Russo One', sans-serif;
}

.section-header {
  font-size: 1.5em;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 10px;
}

.content-pane {
  width: 50%;
  margin: 10px auto;
  padding: 10px 20px 10px 20px;
  border: 2px solid #C41E3A;
}

.query-results {
  width: 18rem;
  margin: auto;
}

.query-results-header {
  background-color: #D3D3D3;
  padding: 10px 15px;
}
