.graph-isomorphism-graph-builder {
  border: 2px solid teal;
  padding-top: 25px;
  padding-bottom: 25px;
}

.graph-isomorphism-graph-name {
  color: black;
}

.graph-vis-container {
  border: 2px solid teal;
  background: #8FBC8F;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

.graph-isomorphism-graphs-a-and-b-container {
  display: flex;
  justify-content: center;
}

.graph-isomorphism-graph-builder-a {
  margin-right: 20px;
}

.graph-isomorphism-graph-builder-b {
  margin-left: 20px;
}